<!DOCTYPE html>
<html>
<head>
	<title>VueJS - Doc' officielle / </title>
	<!-- 
        tests vueJS hors webpack
	-->
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
	<link href="https://fonts.googleapis.com/css?family=Special+Elite|Waiting+for+the+Sunrise" rel="stylesheet">
	<style type="text/css"> 
		body {padding: 40px;} 

		h3 {
		  color: black;
		  font-family:'Waiting for the Sunrise','Special Elite', Helvetica, Arial, sans-serif;
		  font-size: 24px;
		  letter-spacing: 7px;
		}

		.framed {border: 2px solid black;}

		.is-blue {background-color: #a6b1f7;}
		.is-green {background-color: #a6f7c3;}
		.is-yellow {background-color: #fcfd9e;}

	</style>
</head>
<body>

	<div id="root">

		<input type="checkbox" v-model="isgreen">
		<input type="text" v-model="message">{{ message }}<br><br>
		<div class="box" :class="cls">Salut les gens</div>


        <div class="columns is-multiline">
        	<div class="column is-one-third">
			    <figure class="image is-3by2 level framed" v-on:mouseover="showText" v-on:mouseout="showImage">
	        		<img src="./ajsam-hora/src/img/banjaluka.jpg" class="is-overlay level-item" v-if="imageVisible">
					<h3 class="is-overlay level-item" v-if="textVisible">Banja Luka</h3>
				</figure>
        	</div>
        </div>

		<creations></creations>


		<creation></creation>

	</div>
<br><br><br>

	<section>
		<!--creations-->
	    <div class="section columns"> 
	      <div class="column is-1-tablet is-2-desktop is-one-fifth-widescreen is-3-fullhd reveal"></div>
	      <div class="column">
	        <div class="columns is-multiline">

	        	<!--creation-->
				<div class="column is-one-third">
				    <figure class="image is-3by2 level framed"></figure>
				</div>

	        	<!--creation-->
				<div class="column is-one-third">
				    <figure class="image is-3by2 level framed"></figure>
				</div>

	        	<!--creation-->
				<div class="column is-one-third">
				    <figure class="image is-3by2 level framed"></figure>
				</div>
	        </div>
	      </div>
	      <div class="column is-1-tablet is-2-desktop is-one-fifth-widescreen is-3-fullhd reveal"></div>
	    </div>
	</section>

	<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
	<script src="grid.js"></script>
</body>
</html>